.admin-box {
    max-width: 380px;
    margin: 40px auto;
    padding: 25px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.admin-menu {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-menu {
    background: #0d6efd;
    color: #fff;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.btn-menu:hover {
    background: #0a58ca;
}

.btn-logout {
    background: #dc3545;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}

.btn-logout:hover {
    background: #bb2d3b;
}
