/* wrap password */
.password-wrap {
    position: relative;
    width: 100%;
}

.password-input {
    padding-right: 40px; /* ruang untuk icon */
}

/* icon mata */
.show-hide {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;
}

.show-hide svg {
    pointer-events: none;
}

/* tombol */
.btn-login {
    background: #0055ff;
    color: #fff;
}

.btn-token {
    background: #e67e22;
    color: #fff;
}