/* INPUT */
.input {
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

/* PASSWORD WRAP */
.password-wrap {
    position: relative;
}

.show-hide {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.9;
}

/* TOMBOL */
.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* WARNA BARU */
.btn-login {
    background: linear-gradient(135deg, #009688, #00695c);
}

.btn-login:hover {
    background: linear-gradient(135deg, #00a899, #00796b);
}

.btn-token {
    background: linear-gradient(135deg, #3f51b5, #283593);
}

.btn-token:hover {
    background: linear-gradient(135deg, #5c6bc0, #303f9f);
}

/* PESAN */
.msg {
    color: #b30000;
    font-weight: bold;
    margin-top: 10px;
}